<div class="container">
  <div class="row">
    <div class="col-md-2">
      <img
        width="150"
        height="150"
        alt="Lama Logo"
        [attr.src]="server + world.logo"
      />
    </div>
    <div class="col-md-10">
      <h1 class="title">
        <span>{{ world.name }}</span>
      </h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row titleR">
    <div class="col-md-4 ">
      <input
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        type="text"
        [(ngModel)]="username"
        (change)="onUsernameChanged(username)"
      />
    </div>
    <div class="col-md-4 crypto">
      <span id="worldMoney">{{ world.money | bigvalue }} Cryptolama </span>
    </div>
    <div class="col-md-4">
      <div class="button_cont" style="text-align: center">
        <button
          type="button"
          class="btn btn-primary"
          (click)="onMultChange(multSelected)"
        >
          Acheter par {{ multSelected }}
        </button>
      </div>
    </div>
  </div>
  <div class="row items">
    <div class="col-md-1">
      <div class="navbar">
        <a
          class="nav-link"
          href="#"
          data-toggle="modal"
          (click)="managersModal.show()"
          >Manager</a
        >
        <a class="nav-link" href="#">Ange</a>
        <a class="nav-link" href="#">Pallier</a>
      </div>
    </div>
    <div class="col-md-11">
      
        <div class="row">
          <div class="col-md-6">      
            <app-product
            *ngIf="world.products.product[0]"
            [prod]="world.products.product[0]"
            class="product"
            (notifyProduction)="onProductionDone($event)"
            (notifyProductBuy)="onProductBuy($event)"
            [multSelected]="multSelected"
            [money]="world.money"
          ></app-product>
          </div>
          <div class="col-md-6">
              <app-product
              *ngIf="world.products.product[1]"
              [prod]="world.products.product[1]"
              class="product"
              (notifyProduction)="onProductionDone($event)"
              (notifyProductBuy)="onProductBuy($event)"
              [multSelected]="multSelected"
              [money]="world.money"
            ></app-product>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-product
                *ngIf="world.products.product[2]"
                [prod]="world.products.product[2]"
                class="product"
                (notifyProduction)="onProductionDone($event)"
                (notifyProductBuy)="onProductBuy($event)"
                [multSelected]="multSelected"
                [money]="world.money"
              ></app-product>
  
            </div>
            <div class="col-md-6">
                <app-product
                *ngIf="world.products.product[3]"
                [prod]="world.products.product[3]"
                class="product"
                (notifyProduction)="onProductionDone($event)"
                (notifyProductBuy)="onProductBuy($event)"
                [multSelected]="multSelected"
                [money]="world.money"
              ></app-product>
              
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <app-product
                  *ngIf="world.products.product[4]"
                  [prod]="world.products.product[4]"
                  class="product"
                  (notifyProduction)="onProductionDone($event)"
                  (notifyProductBuy)="onProductBuy($event)"
                  [multSelected]="multSelected"
                  [money]="world.money"
                ></app-product>
    
              </div>
              <div class="col-md-6">
                  <app-product
                  *ngIf="world.products.product[5]"
                  [prod]="world.products.product[5]"
                  class="product"
                  (notifyProduction)="onProductionDone($event)"
                  (notifyProductBuy)="onProductBuy($event)"
                  [multSelected]="multSelected"
                  [money]="world.money"
                ></app-product>
              </div>
            </div>
      </div>
  </div>
</div>

<app-modal #managersModal>
  <div class="app-modal-header">
    <h4 class="modal-title">Managers make you feel better !</h4>
  </div>
  <div class="app-modal-body">
    <div *ngFor="let manager of world.managers.pallier">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img
              [src]="server + manager.logo"
              alt=""
              style="width:120px; height:120px;"
            />
          </div>
          <div class="col-md-9">
            <div class="container">
              <div class="row">
                <div class="col">
                  {{ manager.name }}
                </div>
              </div>
              <div class="row">
                <div class="col">{{ manager.seuil }} Cryptolama</div>
              </div>
              <div class="row">
                <div class="col">
                  <button
                    *ngIf="!manager.unlocked"
                    [disabled]="world.money < manager.seuil"
                    type="button"
                    class="btn btn-primary"
                    (click)="onBuyManager(manager)"
                  >
                    Hire
                  </button>
                  <div *ngIf="manager.unlocked">UnLocked !</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button
      type="button"
      class="btn btn-default"
      (click)="managersModal.hide()"
    >
      Close
    </button>
  </div>
</app-modal>
