<body>
  <div style="text-align:center">
    <h1>
      Bienvenue sur le jeu {{ title }}!
    </h1>
    <img width="300" alt="Lama Logo" src="/assets/images/lamaMenu.jpg">
  </div>
  <p>Ce projet est copiright par {{auteurs[0]}} et {{auteurs[1]}}</p>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">Entete1</div>
      <div class="col-md-4">Entete2</div>
      <div class="col-md-4">Entete3</div>
    </div>
    <div class="row">
      <div class="col-md-2">Partie Gauche</div>
      <div class="col-md-10">Partie droite</div>
    </div>
  </div>
</body>