<div class="container-fluid" style="height: 145px;">
  <div class="row">
    <div class="col-sm-4">
      <img
        [src]="server + product.logo"
        alt=""
        (click)="startFabrication()"
        style="width:120px; height:120px;"
      />
    </div>
    <div class="col-sm-8">
      <div class="row title">
        <div class="col-sm-6">
          {{ product.name }}
        </div>
        <div class="col-sm-6 level">Level:{{ product.quantite }}</div>
      </div>
      <!-- progress bar-->
      <div class="row">
        <div class="col">
          <div class="progress" #bar></div>
        </div>
      </div>
      <!-- Ligne avec info achat-->
      <div class="row">
        <div class="col-sm-6">
          <button
            type="button"
            class="btn btn-dark"
            (click)="onBuy(buyable)"
            [disabled]="buyable <= 0"
          >
            Acheter pour {{ this.cost <= 0 ? "X" : (this.cost | bigvalue) }}
          </button>
        </div>

        <div class="col-sm-3">{{ buyable }} lama disponible</div>
        <div class="col-sm-3">Cryptolama</div>
      </div>
      <div class="row">
        {{ product.name }} vous rapportera
        {{
          product.quantite == 0
            ? product.revenu
            : product.revenu * product.quantite
        }}
        Cryptolamas en {{ product.vitesse / 1000 }} secondes
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="progress" #barPallier style="width:120px;"></div>
    </div>
  </div>
</div>
