<div class="container-fluid" style="height: 125px;">
  <div class="row">
    <div class="col-sm-4">
      <img
        [src]="server + product.logo"
        alt=""
        (click)="startFabrication()"
        style="width:120px; height:120px;"
      />
    </div>
    <div class="col-sm-8 container">
      <div class="row title">

            <div class="col">
                {{product.name}} 
            </div>
            <div class="col level">
                Level:{{product.quantite}}
            </div>
        
      </div>
      <!-- progress bar-->
      <div class="row">
        <div class="col">
          <div class="progress" #bar></div>
        </div>
      </div>
      <!-- Ligne avec info achat-->
      <div class="row">
        <div class="container" style="width: 100%">
            <div class="row">
              <div class="col-sm-3">
                <button
                  type="button"
                  class="btn-gradient green small"
                  (click)="onBuy(buyable)"
                >
                Acheter
                </button>
              </div>
              <div class="col-sm-3"></div>
              <div class="col-sm-3">{{ buyable }} lama disponible</div>
              <div class="col-sm-3">Cryptolama</div>
            </div>
        </div>
      </div>
      <div class="row">
        Grace {{product.name}} vous rapportera {{product.revenu}} Cryptolamas
      </div>
    </div>
  </div>
</div>
