/* You can add global styles to this file, and also import other style files */


.round {
    width: 100px;
    height: 100px;
    border-radius: 50%
}


.lesdeux {
    position: relative;
    }
.lesecond {
    position: absolute;
     /* on met cet élément à 10 pixels du bas de son conteneur */
    /* du coup il se superpose à l’autre qui est dans le flux normal */
    bottom: -10px;
}

body{
    background:url("src/assets/images/fond2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

/* <div class="lesdeux">
<div class="lepremier">Contenu 1</div>
<div class="lesecond"">Contenu 2</div>
</div> */